<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
 <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
     
     
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  
  
	<title>Billing</title>
</head>

<body>
	<div class="container">
	<hr>
        <a th:href="@{/products/list}">Go to Main page</a>
    <br>  
    
         
	<h3> Bill</h3>	
			
	
	
<!-- 

	<h3>Items in cart</h3>
	<tr th:each="tempProductInCart : ${cart}">
			
				<td th:text="${tempProductInCart.code}" />	
				<td th:text="${tempProductInCart.name}" />	
				<td th:text="${tempProductInCart.price}" />	
				<td th:text="${tempProductInCart.gst}" />
												
			</tr>
 -->	
	
	</div>
</body>
</html>



